/*
    该文档存放所有自定义的CSS
*/

body {
    font-size: 12px;
}

#collapseOne button {
    text-align: center;
    margin: 5px;
}

#mapConsole {
    box-shadow: 3px 4px 3px 0px silver;
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 4px;
}

#accordion {
    width: 100%;
    height: 100%;
}

#navbar button {
    margin-right: 10px;
}

#logo {
    height: 30px;
    width: 40px;
}
